openapi: 3.0.1
servers:
  - description: Índice de Swagger
    url: https://api.mibanco.com.co
info:
  description: Servicio de la entidad Ficha Integral de Cliente.
  version: 1.0.0
  title: Cliente_FIC_ES
  contact:
    name: MiBanco
    url: https://www.mibanco.com.co/
    email: api@mibanco.com.co
  license:
    name: GNU GPLv3
    url: https://www.gnu.org/licenses/gpl-3.0.html
tags:
  - name: Crear cliente FIC
    description: Crear cliente FIC MI Banco
#----------------------------
#Endpoints del Entidad
#----------------------------
paths:
  /v1/es/cliente-fic/alerta/{tipoDocumento}/{numeroDocumento}/{digitoVerificacion}:
    get:
      summary: Consultar alerta
      operationId: ConsultarAlerta
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: tipoDocumento
          required: true
          schema:
            $ref: "#/components/schemas/TipoDocumentoEnum"
          description: Tipo de documento
        - in: path
          name: numeroDocumento
          required: true
          schema:
            type: string
          description: Número de documento
        - in: path
          name: digitoVerificacion
          required: true
          schema:
            type: integer
          description: Dígito de verificación
      responses:
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/central-riesgo/{numeroCliente}:
    get:
      summary: Consultar Central
      operationId: consultarCentralRiesgo
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de cliente

      responses:
        "200":
          description: Obtener Consulta Central.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CentralRiesgoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/{tipoDocumento}/{numeroDocumento}/{digitoVerificacion}:
    get:
      summary: Consultar Cliente FIC Por Identificación
      operationId: ConsultarClientePorIdentificacion
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: path
          name: tipoDocumento
          required: true
          schema:
            $ref: "#/components/schemas/TipoDocumentoEnum"
          description: Tipo de documento
        - in: path
          name: numeroDocumento
          required: true
          schema:
            type: string
          description: Número de documento
        - in: path
          name: digitoVerificacion
          required: true
          schema:
            type: integer
          description: Dígito de verificación
      responses:
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/nombre/{regex}:
    get:
      summary: Consultar Cliente FIC Por Nombre
      operationId: ConsultarClienteFICPorNombre
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: regex
          required: true
          schema:
            type: string
          description: Nombre
      responses:
        "200":
          description: Obtener Cliente FIC por nombre.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConsultarClientePorNombreOutput"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/conyuge/{numeroCliente}:
    get:
      summary: Consultar Cónyuge
      operationId: ConsultarConyuge
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener cónyuge por número de Cliente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConyugeType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/cupo-rotativo/{numeroCliente}:
    get:
      summary: Consultar Cupo Rotativo
      operationId: consultarCupoRotativo
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener Cupo Rotativo por número de Cliente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CupoRotativoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/historial-contacto/{numeroCliente}:
    get:
      summary: Consultar Historial de Contacto
      operationId: consultarHistorialContacto
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener Historial de Contacto por número de Cliente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContactoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/oferta/{numeroCliente}:
    get:
      summary: Consultar Oferta
      operationId: consultarOferta
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener Oferta por número de Cliente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OfertaType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/pasivo/{numeroCliente}:
    get:
      summary: Consultar Pasivo
      operationId: consultarPasivo
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener Pasivo por número de Cliente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PasivoType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/es/cliente-fic/pqr/{numeroCliente}:
    get:
      summary: Consulta PQR
      operationId: consultarPQR
      parameters:
        - in: header
          name: jwt
          description: bearerToken de seguridad
          required: true
          schema:
            type: string
        - in: query
          name: page
          description: Inicia con uno la paginación
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 1
          style: form
          explode: false
        - in: query
          name: pageSize
          description: Total de registro para mostrar
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 20
          style: form
          explode: false
        - in: path
          name: numeroCliente
          required: true
          schema:
            type: integer
          description: Número de Cliente
      responses:
        "200":
          description: Obtener alerta.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PQRType"
        "400":
          description: Petición con datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "No se encuentra el cliente FIC."
        default:
          description: Error inesperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

#---------------------------------------------
#Se declaran los Modelos/Schemas del servicio
#---------------------------------------------

components:
  schemas:
    #    TYPES
    ClienteFICType:
      type: object
      properties:
        clienteBase:
          $ref: "#/components/schemas/ClienteBaseType"
        domicilio:
          $ref: "#/components/schemas/DomicilioBaseType"
        domicilioEmpresa:
          $ref: "#/components/schemas/DomicilioEmpresaType"
        funcionarioUltimaActualizacion:
          type: string
        negocio:
          $ref: "#/components/schemas/NegocioType"
        numeroDocumentoRepresentanteLegal:
          type: string
        nombreRepresentanteLegal:
          type: string
        razonSocial:
          type: string
        seRequiereActualizacion:
          type: string
        tipoDocumentoRepresentanteLegal:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        totalActivos:
          type: number
          format: float
        ultimaFechaActualizacion:
          type: string
        digitoVerificacion:
          type: integer
        nombreCompleto:
          type: string
        estadoCivil:
          type: string
    ClienteBaseType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        numeroCliente:
          type: integer
        tipoPersona:
          $ref: "#/components/schemas/TipoPersonaEnum"
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: integer
        fechaExpedicionDocumento:
          type: string
        primerNombre:
          type: string
        numeroCelular:
          type: integer
        segundoNombre:
          type: string
        primerApellido:
          type: string
        segundoApellido:
          type: string
        correoElectronico:
          type: string
    AlertaType:
      type: object
      properties:
        tipoAlerta:
          type: string
        banco:
          type: string
        fecha:
          type: string
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: string
        digitoVerificacion:
          type: string
    CentralRiesgoType:
      type: object
      properties:
        numeroCliente:
          type: integer
        fechaConsultaMasReciente:
          type: string
        resultadoConsultaMasReciente:
          type: string
        vbVigenteParaSerConsultado:
          type: string
    ContactoType:
      type: object
      properties:
        fecha:
          type: string
        tipoContacto:
          type: string
        resultadoComentarios:
          type: string
        numeroCliente:
          type: integer
    ConyugeType:
      type: object
      properties:
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: string
        nombre:
          type: string
        numeroCliente:
          type: integer
    CupoRotativoType:
      type: object
      properties:
        estado:
          type: string
        fechaDeVencimiento:
          type: string
        montoCupoCredito:
          type: number
          format: float
        montoUtilizado:
          type: number
          format: float
        numeroCliente:
          type: integer
        numeroCupo:
          type: string
        saldoDisponible:
          type: number
          format: float
    DomicilioBaseType:
      type: object
      properties:
        numeroCliente:
          type: integer
        direcccion:
          type: string
        telefono1:
          type: integer
        telefono2:
          type: integer
        tipoVivienda:
          $ref: "#/components/schemas/TipoViviendaEnum"
    DomicilioEmpresaType:
      type: object
      properties:
        numeroCliente:
          type: integer
        direccion:
          type: string
        telefono1:
          type: integer
        telefono2:
          type: integer
        tipoActividadCIIU:
          $ref: "#/components/schemas/TipoActividadCIIUEnum"
        descripcionActividadCIIU:
          type: string
        tipoLocal:
          $ref: "#/components/schemas/TipoLocalEnum"
    NegocioType:
      type: object
      properties:
        direccion:
          type: string
        telefono:
          type: integer
        tipoActividadCIIU:
          $ref: "#/components/schemas/TipoActividadCIIUEnum"
        descripcionActividadCIIU:
          type: string
        numeroCliente:
          type: integer
    OfertaType:
      type: object
      properties:
        numeroOferta:
          type: integer
        tipoLead:
          type: string
        tipoOferta:
          type: string
        monto:
          type: number
          format: float
        plazo:
          type: integer
        numeroCliente:
          type: integer
        tipoDeLiga:
          type: string
        condicionGarantia:
          type: string
    PasivoType:
      type: object
      properties:
        numeroCliente:
          type: integer
        numeroProducto:
          type: string
        tipoProducto:
          $ref: "#/components/schemas/TipoProductoEnum"
        detalleProducto:
          type: string
        estadoPasivo:
          type: string
        fechaApertura:
          type: string
        fechaCierre:
          type: string
        capital:
          type: number
          format: float
        intereses:
          type: number
          format: float
        otros:
          type: number
          format: float
        saldoTotal:
          type: number
          format: float
    PQRType:
      type: object
      properties:
        numeroCliente:
          type: integer
        fecha:
          type: string
        numeroPQR:
          type: integer
        motivo:
          type: string
        resultadoPQR:
          type: string
        comentario:
          type: string
    ConsultarClientePorNombreOutput:
      type: object
      properties:
        totalClientes:
          type: integer
        clientes:
          $ref: "#/components/schemas/ClienteFiltroType"
        pagina:
          type: integer
        tamanoPagina:
          type: integer
      required:
        - totalClientes
        - clientes
    ClienteFiltroType:
      type: object
      properties:
        tipoDocumento:
          $ref: "#/components/schemas/TipoDocumentoEnum"
        numeroDocumento:
          type: string
        nombreCompleto:
          type: string
        ultimaFechaActualizacion:
          type: string
        expedicionDocumentoPais:
          $ref: "#/components/schemas/PaisEnum"
        expedicionDocumentoCiudad:
          $ref: "#/components/schemas/CiudadEnum"

    #    ENUMERADORES
    EstadoCivilEnum:
      type: string
      enum:
        - SOLTERA(O)
        - CASADA(O)
        - DIVORCIADA(O)
        - VIUDA(O)
        - UNION LIBRE
        - OTRO
      x-enum-varnames:
        - _1
        - _2
        - _3
        - _4
        - _5
        - _6
    TipoPersonaEnum:
      type: string
      enum:
        - JURIDICA
        - NATURAL
    TipoDocumentoEnum:
      type: string
      enum:
        - CC
        - TI
        - CDI
        - CE
        - CPA
        - NIT
        - PAS
        - RCN
        - RUT
        - TE
    TipoViviendaEnum:
      type: string
      enum:
        - PROPIO SIN HIPOTECA
        - PROPIO CON HIPOTECA
        - ARRENDADA
        - FAMILIAR
      x-enum-varnames:
        - _1
        - _2
        - _3
        - _4
    TipoActividadCIIUEnum:
      type: string
      enum:
        - ASALARIADOS
        - SIN ACTIVIDAD ECONOMICA
        - PERSONAS NATURALES SUBSIDIADAS POR TERCEROS
        - RENTISTAS DE CAPITAL SOLO PARA PERSONAS NATUR
        - CULTIVO DE CEREALES (EXCEPTO ARROZ), LEGUMBRE
        - CULTIVO DE ARROZ
        - CULTIVO DE HORTALIZAS, RAICES Y TUBERCULOS
        - CULTIVO DE TABACO
        - CULTIVO DE PLANTAS TEXTILES
        - OTROS CULTIVOS TRANSITORIOS N.C.P.
        - CULTIVO DE FRUTAS TROPICALES Y SUBTROPICALES
        - CULTIVO DE PLATANO Y BANANO
        - CULTIVO DE CAFE
        - CULTIVO DE CANA DE AZUCAR
        - CULTIVO DE FLOR DE CORTE
        - CULTIVO DE PALMA PARA ACEITE (PALMA AFRICANA)
        - CULTIVO DE PLANTAS CON LAS QUE SE PREPARARAN
        - CULTIVO DE ESPECIAS Y DE PLANTAS AROMATICAS Y
        - OTROS CULTIVOS PERMANENTES N.C.P.
        - PROPAGACION DE PLANTAS (ACTIVIDADES DE LOS VI
        - CRIA DE GANADO BOVINO Y BUFALINO
        - CRIA DE CABALLOS Y OTROS EQUINOS
        - CRIA DE OVEJAS Y CABRAS
        - CRIA DE GANADO PORCINO
        - CRIA DE AVES DE CORRAL
        - CRIA DE OTROS ANIMALES N.C.P.
        - EXPLOTACION MIXTA (AGRICOLA Y PECUARIA)
        - ACTIVIDADES DE APOYO A LA AGRICULTURA
        - ACTIVIDADES DE APOYO A LA GANADERIA
        - ACTIVIDADES POSTERIORES A LA COSECHA
        - TRATAMIENTO DE SEMILLAS PARA PROPAGACION
        - CAZA ORDINARIA Y MEDIANTE TRAMPAS Y ACTIVIDAD
        - SILVICULTURA Y OTRAS ACTIVIDADES FORESTALES
        - EXTRACCION DE MADERA
        - RECOLECCION DE PRODUCTOS FORESTALES DIFERENTE
        - SERVICIOS DE APOYO A LA SILVICULTURA
        - PESCA MARITIMA
        - PESCA DE AGUA DULCE
        - ACUICULTURA MARITIMA
        - ACUICULTURA DE AGUA DULCE
        - EXTRACCION DE HULLA (CARBON DE PIEDRA)
        - EXTRACCION DE CARBON LIGNITO
        - EXTRACCION DE PETROLEO CRUDO
        - EXTRACCION DE GAS NATURAL
        - EXTRACCION DE MINERALES DE HIERRO
        - EXTRACCION DE MINERALES DE URANIO Y DE TORIO
        - EXTRACCION DE ORO Y OTROS METALES PRECIOSOS
        - EXTRACCION DE MINERALES DE NIQUEL
        - EXTRACCION DE OTROS MINERALES METALIFEROS NO
        - EXTRACCION DE PIEDRA, ARENA, ARCILLAS COMUNES
        - EXTRACCION DE ARCILLAS DE USO INDUSTRIAL, CAL
        - EXTRACCION DE ESMERALDAS, PIEDRAS PRECIOSAS Y
        - EXTRACCION DE MINERALES PARA LA FABRICACION D
        - EXTRACCION DE HALITA (SAL)
        - EXTRACCION DE OTROS MINERALES NO METALICOS N.
        - ACTIVIDADES DE APOYO PARA LA EXTRACCION DE PE
        - ACTIVIDADES DE APOYO PARA OTRAS ACTIVIDADES D
        - PROCESAMIENTO Y CONSERVACION DE CARNE Y PRODU
        - PROCESAMIENTO Y CONSERVACION DE PESCADOS, CRU
        - PROCESAMIENTO Y CONSERVACION DE FRUTAS, LEGUM
        - ELABORACION DE ACEITES Y GRASAS DE ORIGEN VEG
        - ELABORACION DE PRODUCTOS LACTEOS
        - ELABORACION DE PRODUCTOS DE MOLINERIA
        - ELABORACION DE ALMIDONES Y PRODUCTOS DERIVADO
        - TRILLA DE CAFE
        - DESCAFEINADO, TOSTION Y MOLIENDA DEL CAFE
        - OTROS DERIVADOS DEL CAFE
        - ELABORACION Y REFINACION DE AZUCAR
        - ELABORACION DE PANELA
        - ELABORACION DE PRODUCTOS DE PANADERIA
        - ELABORACION DE CACAO, CHOCOLATE Y PRODUCTOS D
        - ELABORACION DE MACARRONES, FIDEOS, ALCUZCUZ Y
        - ELABORACION DE COMIDAS Y PLATOS PREPARADOS
        - ELABORACION DE OTROS PRODUCTOS ALIMENTICIOS N
        - ELABORACION DE ALIMENTOS PREPARADOS PARA ANIM
        - DESTILACION, RECTIFICACION Y MEZCLA DE BEBIDA
        - ELABORACION DE BEBIDAS FERMENTADAS NO DESTILA
        - PRODUCCION DE MALTA, ELABORACION DE CERVEZAS
        - ELABORACION DE BEBIDAS NO ALCOHOLICAS, PRODUC
        - ELABORACION DE PRODUCTOS DE TABACO
        - HILATURA, TEJEDURA Y ACABADO DE PRODUCTOS TEX
        - TEJEDURIA DE PRODUCTOS TEXTILES
        - ACABADO DE PRODUCTOS TEXTILES
        - FABRICACION DE TEJIDOS DE PUNTO Y GANCHILLO
        - CONFECCION DE ARTICULOS CON MATERIALES TEXTIL
        - FABRICACION DE TAPETES Y ALFOMBRAS PARA PISOS
        - FABRICACION DE CUERDAS, CORDELES, CABLES, BRA
        - FABRICACION DE OTROS ARTICULOS TEXTILES N.C.P
        - CONFECCION DE PRENDAS DE VESTIR, EXCEPTO PREN
        - FABRICACION DE ARTICULOS DE PIEL
        - FABRICACION DE ARTICULOS DE PUNTO Y GANCHILLO
        - CURTIDO Y RECURTIDO DE CUEROS RECURTIDO
        - FABRICACION DE ARTICULOS DE VIAJE, BOLSOS DE
        - FABRICACION DE ARTICULOS DE VIAJE, BOLSOS DE
        - FABRICACION DE CALZADO DE CUERO Y PIEL, CON C
        - FABRICACION DE OTROS TIPOS DE CALZADO, EXCEPT
        - FABRICACION DE PARTES DEL CALZADO
        - ASERRADO, ACEPILLADO E IMPREGNACION DE LA MAD
        - FABRICACION DE HOJAS DE MADERA PARA ENCHAPADO
        - FABRICACION DE PARTES Y PIEZAS DE MADERA, DE
        - FABRICACION DE RECIPIENTES DE MADERA
        - FABRICACION DE OTROS PRODUCTOS DE MADERA
        - FABRICACION DE PULPAS (PASTAS) CELULOSICAS
        - FABRICACION DE PAPEL Y CARTON ONDULADO (CORRU
        - FABRICACION DE OTROS ARTICULOS DE PAPEL Y CAR
        - ACTIVIDADES DE IMPRESION
        - ACTIVIDADES DE SERVICIOS RELACIONADOS CON LA
        - PRODUCCION DE COPIAS A PARTIR DE GRABACIONES
        - FABRICACION DE PRODUCTOS DE HORNOS DE COQUE
        - FABRICACION DE PRODUCTOS DE LA REFINACION DEL
        - ACTIVIDAD DE MEZCLA DE COMBUSTIBLES
        - FABRICACION DE SUSTANCIAS Y PRODUCTOS QUIMICO
        - FABRICACION DE ABONOS Y COMPUESTOS INORGANICO
        - FABRICACION DE PLASTICOS EN FORMAS PRIMARIAS
        - FABRICACION DE CAUCHO SINTETICO EN FORMAS PRI
        - FABRICACION DE PLAGUICIDAS Y OTROS PRODUCTOS
        - FABRICACION DE PINTURAS, BARNICES Y REVESTIMI
        - FABRICACION DE JABONES Y DETERGENTES, PREPARA
        - FABRICACION DE OTROS PRODUCTOS QUIMICOS N.C.P
        - FABRICACION DE FIBRAS SINTETICAS Y ARTIFICIAL
        - FABRICACION DE PRODUCTOS FARMACEUTICOS, SUSTA
        - FABRICACION DE LLANTAS Y NEUMATICOS DE CAUCHO
        - REENCAUCHE DE LLANTAS USADAS
        - FABRICACION DE FORMAS BASICAS DE CAUCHO Y OTR
        - FABRICACION DE FORMAS BASICAS DE PLASTICO
        - FABRICACION DE ARTICULOS DE PLASTICO N.C.P.
        - FABRICACION DE VIDRIO Y PRODUCTOS DE VIDRIO
        - FABRICACION DE PRODUCTOS REFRACTARIOS
        - FABRICACION DE MATERIALES DE ARCILLA PARA LA
        - FABRICACION DE OTROS PRODUCTOS DE CERAMICA Y
        - FABRICACION DE CEMENTO, CAL Y YESO
        - FABRICACION DE ARTICULOS DE HORMIGON, CEMENTO
        - CORTE, TALLADO Y ACABADO DE LA PIEDRA
        - FABRICACION DE OTROS PRODUCTOS MINERALES NO M
        - INDUSTRIAS BASICAS DE HIERRO Y DE ACERO
        - INDUSTRIAS BASICAS DE METALES PRECIOSOS
        - INDUSTRIAS BASICAS DE OTROS METALES NO FERROS
        - FUNDICION DE HIERRO Y DE ACERO
        - FUNDICION DE METALES NO FERROSOS
        - FABRICACION DE PRODUCTOS METALICOS PARA USO E
        - FABRICACION DE TANQUES, DEPOSITOS Y RECIPIENT
        - FABRICACION DE GENERADORES DE VAPOR, EXCEPTO
        - FABRICACION DE ARMAS Y MUNICIONES
        - FORJA, PRENSADO, ESTAMPADO Y LAMINADO DE META
        - TRATAMIENTO Y REVESTIMIENTO DE METALES MECAN
        - FABRICACION DE ARTICULOS DE CUCHILLERIA, HERR
        - FABRICACION DE OTROS PRODUCTOS ELABORADOS DE
        - FABRICACION DE COMPONENTES Y TABLEROS ELECTRO
        - FABRICACION DE COMPUTADORAS Y DE EQUIPO PERIF
        - FABRICACION DE EQUIPOS DE COMUNICACION
        - FABRICACION DE APARATOS ELECTRONICOS DE CONSU
        - FABRICACION DE EQUIPO DE MEDICION, PRUEBA, NA
        - FABRICACION DE RELOJES
        - FABRICACION DE EQUIPO DE IRRADIACION Y EQUIPO
        - FABRICACION DE INSTRUMENTOS OPTICOS Y EQUIPO
        - FABRICACION DE SOPORTES MAGNETICOS Y OPTICOS
        - FABRICACION DE MOTORES, GENERADORES Y TRANSFO
        - FABRICACION DE APARATOS DE DISTRIBUCION Y CON
        - FABRICACION DE PILAS, BATERIAS Y ACUMULADORES
        - FABRICACION DE HILOS Y CABLES ELECTRICOS Y DE
        - FABRICACION DE DISPOSITIVOS DE CABLEADO
        - FABRICACION DE EQUIPOS ELECTRICOS DE ILUMINAC
        - FABRICACION DE APARATOS DE USO DOMESTICO
        - FABRICACION DE OTROS TIPOS DE EQUIPO ELECTRIC
        - FABRICACION DE MOTORES, TURBINAS, Y PARTES PA
        - FABRICACION DE EQUIPOS DE POTENCIA HIDRAULICA
        - FABRICACION DE OTRAS BOMBAS, COMPRESORES, GRI
        - FABRICACION DE COJINETES, ENGRANAJES, TRENES
        - FABRICACION DE HORNOS, HOGARES Y QUEMADORES I
        - FABRICACION DE EQUIPO DE ELEVACION Y MANIPULA
        - FABRICACION DE MAQUINARIA Y EQUIPO DE OFICINA
        - FABRICACION DE HERRAMIENTAS MANUALES CON MOTO
        - FABRICACION DE OTROS TIPOS DE MAQUINARIA Y EQ
        - FABRICACION DE MAQUINARIA AGROPECUARIA Y FORE
        - FABRICACION DE MAQUINAS FORMADORAS DE METAL Y
        - FABRICACION DE MAQUINARIA PARA LA METALURGIA
        - FABRICACION DE MAQUINARIA PARA EXPLOTACION DE
        - FABRICACION DE MAQUINARIA PARA LA ELABORACION
        - FABRICACION DE MAQUINARIA PARA LA ELABORACION
        - FABRICACION DE OTROS TIPOS DE MAQUINARIA Y EQ
        - FABRICACION DE VEHICULOS AUTOMOTORES Y SUS MO
        - FABRICACION DE CARROCERIAS PARA VEHICULOS AUT
        - FABRICACION DE PARTES, PIEZAS (AUTOPARTES) Y
        - CONSTRUCCION DE BARCOS Y DE ESTRUCTURAS FLOTA
        - CONSTRUCCION DE EMBARCACIONES DE RECREO Y DEP
        - FABRICACION DE LOCOMOTORAS Y DE MATERIAL RODA
        - FABRICACION DE AERONAVES, NAVES ESPACIALES Y
        - FABRICACION DE VEHICULOS MILITARES DE COMBATE
        - FABRICACION DE MOTOCICLETAS
        - FABRICACION DE BICICLETAS Y DE SILLAS DE RUED
        - FABRICACION DE OTROS TIPOS DE EQUIPO DE TRANS
        - FABRICACION DE MUEBLES
        - FABRICACION DE COLCHONES Y SOMIERES
        - FABRICACION DE JOYAS, BISUTERIA Y ARTICULOS C
        - FABRICACION DE INSTRUMENTOS MUSICALES
        - FABRICACION DE ARTICULOS Y EQUIPO PARA LA PRA
        - FABRICACION DE JUEGOS, JUGUETES Y ROMPECABEZA
        - FABRICACION DE INSTRUMENTOS, APARATOS Y MATER
        - OTRAS INDUSTRIAS MANUFACTURERAS N.C.P.
        - MANTENIMIENTO Y REPARACION ESPECIALIZADO DE P
        - MANTENIMIENTO Y REPARACION ESPECIALIZADO DE M
        - MANTENIMIENTO Y REPARACION ESPECIALIZADO DE E
        - MANTENIMIENTO Y REPARACION ESPECIALIZADO DE E
        - MANTENIMIENTO Y REPARACION ESPECIALIZADO DE E
        - MANTENIMIENTO Y REPARACION DE OTROS TIPOS DE
        - INSTALACION ESPECIALIZADA DE MAQUINARIA Y EQU
        - GENERACION DE ENERGIA ELECTRICA
        - TRANSMISION DE ENERGIA ELECTRICA
        - DISTRIBUCION DE ENERGIA ELECTRICA
        - COMERCIALIZACION DE ENERGIA ELECTRICA
        - PRODUCCION DE GAS DISTRIBUCION DE COMBUSTIBLE
        - SUMINISTRO DE VAPOR Y AIRE ACONDICIONADO
        - CAPTACION, TRATAMIENTO Y DISTRIBUCION DE AGUA
        - EVACUACION Y TRATAMIENTO DE AGUAS RESIDUALES
        - RECOLECCION DE DESECHOS NO PELIGROSOS
        - RECOLECCION DE DESECHOS PELIGROSOS
        - TRATAMIENTO Y DISPOSICION DE DESECHOS NO PELI
        - TRATAMIENTO Y DISPOSICION DE DESECHOS PELIGRO
        - RECUPERACION DE MATERIALES
        - ACTIVIDADES DE SANEAMIENTO AMBIENTAL Y OTROS
        - CONSTRUCCION DE EDIFICIOS RESIDENCIALES
        - CONSTRUCCION DE EDIFICIOS NO RESIDENCIALES
        - CONSTRUCCION DE CARRETERAS Y VIAS DE FERROCAR
        - CONSTRUCCION DE PROYECTOS DE SERVICIO PUBLICO
        - CONSTRUCCION DE OTRAS OBRAS DE INGENIERIA CIV
        - DEMOLICION
        - PREPARACION DEL TERRENO
        - INSTALACIONES ELECTRICAS
        - INSTALACIONES DE FONTANERIA, CALEFACCION Y AI
        - OTRAS INSTALACIONES ESPECIALIZADAS
        - TERMINACION Y ACABADO DE EDIFICIOS Y OBRAS DE
        - OTRAS ACTIVIDADES ESPECIALIZADAS PARA LA CONS
        - COMERCIO DE VEHICULOS AUTOMOTORES NUEVOS
        - COMERCIO DE VEHICULOS AUTOMOTORES USADOS
        - MANTENIMIENTO Y REPARACION DE VEHICULOS AUTOM
        - COMERCIO DE PARTES, PIEZAS (AUTOPARTES) Y ACC
        - COMERCIO DE MOTOCICLETAS Y DE SUS PARTES, PIE
        - MANTENIMIENTO Y REPARACION DE MOTOCICLETAS Y
        - COMERCIO AL POR MAYOR A CAMBIO DE UNA RETRIBU
        - COMERCIO AL POR MAYOR DE MATERIAS PRIMAS AGRO
        - COMERCIO AL POR MAYOR DE PRODUCTOS ALIMENTICI
        - COMERCIO AL POR MAYOR DE BEBIDAS Y TABACO
        - COMERCIO AL POR MAYOR DE PRODUCTOS TEXTILES,
        - COMERCIO AL POR MAYOR DE PRENDAS DE VESTIR
        - COMERCIO AL POR MAYOR DE CALZADO
        - COMERCIO AL POR MAYOR DE APARATOS Y EQUIPO DE
        - COMERCIO AL POR MAYOR DE PRODUCTOS FARMACEUTI
        - COMERCIO AL POR MAYOR DE OTROS UTENSILIOS DOM
        - COMERCIO AL POR MAYOR DE COMPUTADORES, EQUIPO
        - COMERCIO AL POR MAYOR DE EQUIPO, PARTES Y PIE
        - COMERCIO AL POR MAYOR DE MAQUINARIA Y EQUIPO
        - COMERCIO AL POR MAYOR DE OTROS TIPOS DE MAQUI
        - COMERCIO AL POR MAYOR DE COMBUSTIBLES SOLIDOS
        - COMERCIO AL POR MAYOR DE METALES Y PRODUCTOS
        - COMERCIO AL POR MAYOR DE MATERIALES DE CONSTR
        - COMERCIO AL POR MAYOR DE PRODUCTOS QUIMICOS B
        - COMERCIO AL POR MAYOR DE DESPERDICIOS, DESECH
        - COMERCIO AL POR MAYOR DE OTROS PRODUCTOS N.C.
        - COMERCIO AL POR MAYOR NO ESPECIALIZADO
        - COMERCIO AL POR MENOR EN ESTABLECIMIENTOS NO
        - COMERCIO AL POR MENOR EN ESTABLECIMIENTOS NO
        - COMERCIO AL POR MENOR DE PRODUCTOS AGRICOLAS
        - COMERCIO AL POR MENOR DE LECHE, PRODUCTOS LAC
        - COMERCIO AL POR MENOR DE CARNES (INCLUYE AVES
        - COMERCIO AL POR MENOR DE BEBIDAS Y PRODUCTOS
        - COMERCIO AL POR MENOR DE OTROS PRODUCTOS ALIM
        - COMERCIO AL POR MENOR DE COMBUSTIBLE PARA AUT
        - COMERCIO AL POR MENOR DE LUBRICANTES (ACEITES
        - COMERCIO AL POR MENOR DE COMPUTADORES, EQUIPO
        - COMERCIO AL POR MENOR DE EQUIPOS Y APARATOS D
        - COMERCIO AL POR MENOR DE PRODUCTOS TEXTILES E
        - COMERCIO AL POR MENOR DE ARTICULOS DE FERRETE
        - COMERCIO AL POR MENOR DE TAPICES, ALFOMBRAS Y
        - COMERCIO AL POR MENOR DE ELECTRODOMESTICOS Y
        - COMERCIO AL POR MENOR DE ARTICULOS Y UTENSILI
        - COMERCIO AL POR MENOR DE OTROS ARTICULOS DOME
        - COMERCIO AL POR MENOR DE LIBROS, PERIODICOS,
        - COMERCIO AL POR MENOR DE ARTICULOS DEPORTIVOS
        - COMERCIO AL POR MENOR DE OTROS ARTICULOS CULT
        - COMERCIO AL POR MENOR DE PRENDAS DE VESTIR Y
        - COMERCIO AL POR MENOR DE TODO TIPO DE CALZADO
        - COMERCIO AL POR MENOR DE PRODUCTOS FARMACEUTI
        - COMERCIO AL POR MENOR DE OTROS PRODUCTOS NUEV
        - COMERCIO AL POR MENOR DE ARTICULOS DE SEGUNDA
        - COMERCIO AL POR MENOR DE ALIMENTOS, BEBIDAS Y
        - COMERCIO AL POR MENOR DE PRODUCTOS TEXTILES,
        - COMERCIO AL POR MENOR DE OTROS PRODUCTOS EN P
        - COMERCIO AL POR MENOR REALIZADO A TRAVES DE I
        - COMERCIO AL POR MENOR REALIZADO A TRAVES DE C
        - OTROS TIPOS DE COMERCIO AL POR MENOR NO REALI
        - TRANSPORTE FERREO DE PASAJEROS
        - TRANSPORTE FERREO DE CARGA
        - TRANSPORTE DE PASAJEROS
        - TRANSPORTE MIXTO
        - TRANSPORTE DE CARGA POR CARRETERA
        - TRANSPORTE POR TUBERIAS
        - TRANSPORTE DE PASAJEROS MARITIMO Y DE CABOTAJ
        - TRANSPORTE DE CARGA MARITIMO Y DE CABOTAJE
        - TRANSPORTE FLUVIAL DE PASAJEROS
        - TRANSPORTE FLUVIAL DE CARGA
        - TRANSPORTE AEREO NACIONAL DE PASAJEROS
        - TRANSPORTE AEREO INTERNACIONAL DE PASAJEROS
        - TRANSPORTE AEREO NACIONAL DE CARGA
        - TRANSPORTE AEREO INTERNACIONAL DE CARGA
        - ALMACENAMIENTO Y DEPOSITO
        - ACTIVIDADES DE ESTACIONES, VIAS Y SERVICIOS C
        - ACTIVIDADES DE PUERTOS Y SERVICIOS COMPLEMENT
        - ACTIVIDADES DE AEROPUERTOS, SERVICIOS DE NAVE
        - MANIPULACION DE CARGA
        - OTRAS ACTIVIDADES COMPLEMENTARIAS AL TRANSPOR
        - ACTIVIDADES POSTALES NACIONALES
        - ACTIVIDADES DE MENSAJERIA
        - ALOJAMIENTO EN HOTELES
        - ALOJAMIENTO EN APARTA-HOTELES
        - ALOJAMIENTO EN CENTROS VACACIONALES
        - ALOJAMIENTO RURAL
        - OTROS TIPOS DE ALOJAMIENTOS PARA VISITANTES
        - ACTIVIDADES DE ZONAS DE CAMPING Y PARQUES PAR
        - SERVICIO POR HORAS
        - OTROS TIPOS DE ALOJAMIENTO N.C.P.
        - EXPENDIO A LA MESA DE COMIDAS PREPARADAS
        - EXPENDIO POR AUTOSERVICIO DE COMIDAS PREPARAD
        - EXPENDIO DE COMIDAS PREPARADAS EN CAFETERIAS
        - OTROS TIPOS DE EXPENDIO DE COMIDAS PREPARADAS
        - CATERING PARA EVENTOS
        - ACTIVIDADES DE OTROS SERVICIOS DE COMIDAS
        - EXPENDIO DE BEBIDAS ALCOHOLICAS PARA EL CONSU
        - EDICION DE LIBROS
        - EDICION DE DIRECTORIOS Y LISTAS DE CORREO
        - EDICION DE PERIODICOS, REVISTAS Y OTRAS PUBLI
        - OTROS TRABAJOS DE EDICION
        - EDICION DE PROGRAMAS DE INFORMATICA (SOFTWARE
        - ACTIVIDADES DE PRODUCCION DE PELICULAS CINEMA
        - ACTIVIDADES DE POSTPRODUCCION DE PELICULAS CI
        - ACTIVIDADES DE DISTRIBUCION DE PELICULAS CINE
        - ACTIVIDADES DE EXHIBICION DE PELICULAS CINEMA
        - ACTIVIDADES DE GRABACION DE SONIDO Y EDICION
        - ACTIVIDADES DE PROGRAMACION Y TRANSMISION EN
        - ACTIVIDADES DE PROGRAMACION Y TRANSMISION DE
        - ACTIVIDADES DE TELECOMUNICACIONES ALAMBRICAS
        - ACTIVIDADES DE TELECOMUNICACIONES INALAMBRICA
        - ACTIVIDADES DE TELECOMUNICACION SATELITAL
        - OTRAS ACTIVIDADES DE TELECOMUNICACIONES
        - ACTIVIDADES DE DESARROLLO DE SISTEMAS INFORMA
        - ACTIVIDADES DE CONSULTORIA INFORMATICA Y ACTI
        - OTRAS ACTIVIDADES DE TECNOLOGIAS DE INFORMACI
        - PROCESAMIENTO DE DATOS, ALOJAMIENTO (HOSTING)
        - PORTALES WEB
        - ACTIVIDADES DE AGENCIAS DE NOTICIAS
        - OTRAS ACTIVIDADES DE SERVICIO DE INFORMACION
        - BANCO CENTRAL
        - BANCOS COMERCIALES
        - ACTIVIDADES DE LAS CORPORACIONES FINANCIERAS
        - ACTIVIDADES DE LAS COMPANIAS DE FINANCIAMIENT
        - BANCA DE SEGUNDO PISO
        - ACTIVIDADES DE LAS COOPERATIVAS FINANCIERAS
        - FIDEICOMISOS, FONDOS Y ENTIDADES FINANCIERAS
        - FONDOS DE CESANTIAS
        - LEASING FINANCIERO (ARRENDAMIENTO FINANCIERO)
        - ACTIVIDADES FINANCIERAS DE FONDOS DE EMPLEADO
        - ACTIVIDADES DE COMPRA DE CARTERA O FACTORING
        - OTRAS ACTIVIDADES DE DISTRIBUCION DE FONDOS
        - INSTITUCIONES ESPECIALES OFICIALES
        - OTRAS ACTIVIDADES DE SERVICIO FINANCIERO, EXC
        - SEGUROS GENERALES
        - SEGUROS DE VIDA
        - REASEGUROS
        - CAPITALIZACION
        - SERVICIOS DE SEGUROS SOCIALES DE SALUD
        - SERVICIOS DE SEGUROS SOCIALES DE RIESGOS PROF
        - REGIMEN DE PRIMA MEDIA CON PRESTACION DEFINID
        - REGIMEN DE AHORRO INDIVIDUAL (RAI)
        - ADMINISTRACION DE MERCADOS FINANCIEROS
        - CORRETAJE DE VALORES Y DE CONTRATOS DE PRODUC
        - OTRAS ACTIVIDADES RELACIONADAS CON EL MERCADO
        - ACTIVIDADES DE LAS CASAS DE CAMBIO
        - ACTIVIDADES DE LOS PROFESIONALES DE COMPRA Y
        - OTRAS ACTIVIDADES AUXILIARES DE LAS ACTIVIDAD
        - ACTIVIDADES DE AGENTES Y CORREDORES DE SEGURO
        - EVALUACION DE RIESGOS Y DANOS, Y OTRAS ACTIVI
        - ACTIVIDADES DE ADMINISTRACION DE FONDOS
        - ACTIVIDADES INMOBILIARIAS REALIZADAS CON BIEN
        - ACTIVIDADES INMOBILIARIAS REALIZADAS A CAMBIO
        - ACTIVIDADES JURIDICAS
        - ACTIVIDADES DE CONTABILIDAD, TENEDURIA DE LIB
        - ACTIVIDADES DE ADMINISTRACION EMPRESARIAL
        - ACTIVIDADES DE CONSULTARIA DE GESTION
        - ACTIVIDADES DE ARQUITECTURA E INGENIERIA Y OT
        - ENSAYOS Y ANALISIS TECNICOS
        - INVESTIGACIONES Y DESARROLLO EXPERIMENTAL EN
        - INVESTIGACIONES Y DESARROLLO EXPERIMENTAL EN
        - PUBLICIDAD
        - ESTUDIOS DE MERCADO Y REALIZACION DE ENCUESTA
        - ACTIVIDADES ESPECIALIZADAS DE DISENO
        - ACTIVIDADES DE FOTOGRAFIA
        - OTRAS ACTIVIDADES PROFESIONALES, CIENTIFICAS
        - ACTIVIDADES VETERINARIAS
        - ALQUILER Y ARRENDAMIENTO DE VEHICULOS AUTOMOT
        - ALQUILER Y ARRENDAMIENTO DE EQUIPO RECREATIVO
        - ALQUILER DE VIDEOS Y DISCOS
        - ALQUILER Y ARRENDAMIENTO DE OTROS EFECTOS PER
        - ALQUILER Y ARRENDAMIENTO DE OTROS TIPOS DE MA
        - ARRENDAMIENTO DE PROPIEDAD INTELECTUAL Y PROD
        - ACTIVIDADES DE AGENCIAS DE EMPLEO
        - ACTIVIDADES DE AGENCIAS DE EMPLEO TEMPORAL
        - OTRAS ACTIVIDADES DE SUMINISTRO DE RECURSO HU
        - ACTIVIDADES DE LAS AGENCIAS DE VIAJE
        - ACTIVIDADES DE OPERADORES TURISTICOS
        - OTROS SERVICIOS DE RESERVA Y ACTIVIDADES RELA
        - ACTIVIDADES DE SEGURIDAD PRIVADA
        - ACTIVIDADES DE SERVICIOS DE SISTEMAS DE SEGUR
        - ACTIVIDADES DE DETECTIVES E INVESTIGADORES PR
        - ACTIVIDADES COMBINADAS DE APOYO A INSTALACION
        - LIMPIEZA GENERAL INTERIOR DE EDIFICIOS
        - OTRAS ACTIVIDADES DE LIMPIEZA DE EDIFICIOS E
        - ACTIVIDADES DE PAISAJISMO Y SERVICIOS DE MANT
        - ACTIVIDADES COMBINADAS DE SERVICIOS ADMINISTR
        - FOTOCOPIADO, PREPARACION DE DOCUMENTOS Y OTRA
        - ACTIVIDADES DE CENTROS DE LLAMADAS (CALL CENT
        - ORGANIZACION DE CONVENCIONES Y EVENTOS COMERC
        - ACTIVIDADES DE AGENCIAS DE COBRANZA Y OFICINA
        - ACTIVIDADES DE ENVASE Y EMPAQUE
        - OTRAS ACTIVIDADES DE SERVICIO DE APOYO A LAS
        - ACTIVIDADES LEGISLATIVAS DE LA ADMINISTRACION
        - ACTIVIDADES EJECUTIVAS DE LA ADMINISTRACION P
        - REGULACION DE LAS ACTIVIDADES DE ORGANISMOS Q
        - ACTIVIDADES REGULADORAS Y FACILITADORAS DE LA
        - ACTIVIDADES DE LOS OTROS ORGANOS DE CONTROL
        - RELACIONES EXTERIORES
        - ACTIVIDADES DE DEFENSA
        - ORDEN PUBLICO Y ACTIVIDADES DE SEGURIDAD
        - ADMINISTRACION DE JUSTICIA
        - ACTIVIDADES DE PLANES DE SEGURIDAD SOCIAL DE
        - EDUCACION DE LA PRIMERA INFANCIA
        - EDUCACION PREESCOLAR
        - EDUCACION BASICA PRIMARIA
        - EDUCACION BASICA SECUNDARIA
        - EDUCACION MEDIA ACADEMICA
        - EDUCACION MEDIA TECNICA Y DE FORMACION LABORA
        - ESTABLECIMIENTOS QUE COMBINAN DIFERENTES NIVE
        - EDUCACION TECNICA PROFESIONAL
        - EDUCACION TECNOLOGICA
        - EDUCACION DE INSTITUCIONES UNIVERSITARIAS O D
        - EDUCACION DE UNIVERSIDADES
        - FORMACION ACADEMICA NO FORMAL
        - ENSENANZA DEPORTIVA Y RECREATIVA
        - ENSENANZA CULTURAL
        - OTROS TIPOS DE EDUCACION N.C.P.
        - ACTIVIDADES DE APOYO A LA EDUCACION
        - ACTIVIDADES DE HOSPITALES Y CLINICAS, CON INT
        - ACTIVIDADES DE LA PRACTICA MEDICA, SIN INTERN
        - ACTIVIDADES DE LA PRACTICA ODONTOLOGICA
        - ACTIVIDADES DE APOYO DIAGNOSTICO
        - ACTIVIDADES DE APOYO TERAPEUTICO
        - OTRAS ACTIVIDADES DE ATENCION DE LA SALUD HUM
        - ACTIVIDADES DE ATENCION RESIDENCIAL MEDICALIZ
        - ACTIVIDADES DE ATENCION RESIDENCIAL, PARA EL
        - ACTIVIDADES DE ATENCION EN INSTITUCIONES PARA
        - OTRAS ACTIVIDADES DE ATENCION EN INSTITUCIONE
        - ACTIVIDADES DE ASISTENCIA SOCIAL SIN ALOJAMIE
        - OTRAS ACTIVIDADES DE ASISTENCIA SOCIAL SIN AL
        - CREACION LITERARIA
        - CREACION MUSICAL
        - CREACION TEATRAL
        - CREACION AUDIOVISUAL
        - ARTES PLASTICAS Y VISUALES
        - ACTIVIDADES TEATRALES
        - ACTIVIDADES DE ESPECTACULOS MUSICALES EN VIVO
        - OTRAS ACTIVIDADES DE ESPECTACULOS EN VIVO
        - ACTIVIDADES DE BIBLIOTECAS, ARCHIVOS Y MUSEOS
        - ACTIVIDADES Y FUNCIONAMIENTO DE MUSEOS, CONSE
        - ACTIVIDADES DE JARDINES BOTANICOS, ZOOLOGICOS
        - ACTIVIDADES DE JUEGOS DE AZAR Y APUESTAS
        - GESTION DE INSTALACIONES DEPORTIVAS
        - ACTIVIDADES DE CLUBES DEPORTIVOS
        - OTRAS ACTIVIDADES DEPORTIVAS
        - ACTIVIDADES DE PARQUES DE ATRACCIONES Y PARQU
        - OTRAS ACTIVIDADES RECREATIVAS Y DE ESPARCIMIE
        - ACTIVIDADES DE ASOCIACIONES EMPRESARIALES Y D
        - ACTIVIDADES DE ASOCIACIONES PROFESIONALES
        - ACTIVIDADES DE SINDICATOS DE EMPLEADOS
        - ACTIVIDADES DE ASOCIACIONES RELIGIOSAS
        - ACTIVIDADES DE ASOCIACIONES POLITICAS
        - ACTIVIDADES DE OTRAS ASOCIACIONES N.C.P.
        - MANTENIMIENTO Y REPARACION DE COMPUTADORES Y
        - MANTENIMIENTO Y REPARACION DE EQUIPOS DE COMU
        - MANTENIMIENTO Y REPARACION DE APARATOS ELECTR
        - MANTENIMIENTO Y REPARACION DE APARATOS DOMEST
        - REPARACION DE CALZADO Y ARTICULOS DE CUERO
        - REPARACION DE MUEBLES Y ACCESORIOS PARA EL HO
        - MANTENIMIENTO Y REPARACION DE OTROS EFECTOS P
        - LAVADO Y LIMPIEZA, INCLUSO LA LIMPIEZA EN SEC
        - PELUQUERIA Y OTROS TRATAMIENTOS DE BELLEZA
        - POMPAS FUNEBRES Y ACTIVIDADES RELACIONADAS
        - OTRAS ACTIVIDADES DE SERVICIOS PERSONALES N.C
        - ACTIVIDADES DE LOS HOGARES INDIVIDUALES COMO
        - ACTIVIDADES NO DIFERENCIADAS DE LOS HOGARES I
        - ACTIVIDADES NO DIFERENCIADAS DE LOS HOGARES I
        - ACTIVIDADES DE ORGANIZACIONES Y ENTIDADES EXT
        - NO APLICA
        - OTRAS ACTIVIDADES RECREATIVAS Y DE ESPARCIMIE
        - OTRAS ACTIVIDADES DE ESPECTÁCULOS EN VIVO
        - ROWS
      x-enum-varnames:
        - _010
        - _081
        - _082
        - _090
        - _0111
        - _0112
        - _0113
        - _0114
        - _0115
        - _0119
        - _0121
        - _0122
        - _0123
        - _0124
        - _0125
        - _0126
        - _0127
        - _0128
        - _0129
        - _0130
        - _0141
        - _0142
        - _0143
        - _0144
        - _0145
        - _0149
        - _0150
        - _0161
        - _0162
        - _0163
        - _0164
        - _0170
        - _0210
        - _0220
        - _0230
        - _0240
        - _0311
        - _0312
        - _0321
        - _0322
        - _0510
        - _0520
        - _0610
        - _0620
        - _0710
        - _0721
        - _0722
        - _0723
        - _0729
        - _0811
        - _0812
        - _0820
        - _0891
        - _0892
        - _0899
        - _0910
        - _0990
        - _1011
        - _1012
        - _1020
        - _1030
        - _1040
        - _1051
        - _1052
        - _1061
        - _1062
        - _1063
        - _1071
        - _1072
        - _1081
        - _1082
        - _1083
        - _1084
        - _1089
        - _1090
        - _1101
        - _1102
        - _1103
        - _1104
        - _1200
        - _1311
        - _1312
        - _1313
        - _1391
        - _1392
        - _1393
        - _1394
        - _1399
        - _1410
        - _1420
        - _1430
        - _1511
        - _1512
        - _1513
        - _1521
        - _1522
        - _1523
        - _1610
        - _1620
        - _1630
        - _1640
        - _1690
        - _1701
        - _1702
        - _1709
        - _1811
        - _1812
        - _1820
        - _1910
        - _1921
        - _1922
        - _2011
        - _2012
        - _2013
        - _2014
        - _2021
        - _2022
        - _2023
        - _2029
        - _2030
        - _2100
        - _2211
        - _2212
        - _2219
        - _2221
        - _2229
        - _2310
        - _2391
        - _2392
        - _2393
        - _2394
        - _2395
        - _2396
        - _2399
        - _2410
        - _2421
        - _2429
        - _2431
        - _2432
        - _2511
        - _2512
        - _2513
        - _2520
        - _2591
        - _2592
        - _2593
        - _2599
        - _2610
        - _2620
        - _2630
        - _2640
        - _2651
        - _2652
        - _2660
        - _2670
        - _2680
        - _2711
        - _2712
        - _2720
        - _2731
        - _2732
        - _2740
        - _2750
        - _2790
        - _2811
        - _2812
        - _2813
        - _2814
        - _2815
        - _2816
        - _2817
        - _2818
        - _2819
        - _2821
        - _2822
        - _2823
        - _2824
        - _2825
        - _2826
        - _2829
        - _2910
        - _2920
        - _2930
        - _3011
        - _3012
        - _3020
        - _3030
        - _3040
        - _3091
        - _3092
        - _3099
        - _3110
        - _3120
        - _3210
        - _3220
        - _3230
        - _3240
        - _3250
        - _3290
        - _3311
        - _3312
        - _3313
        - _3314
        - _3315
        - _3319
        - _3320
        - _3511
        - _3512
        - _3513
        - _3514
        - _3520
        - _3530
        - _3600
        - _3700
        - _3811
        - _3812
        - _3821
        - _3822
        - _3830
        - _3900
        - _4111
        - _4112
        - _4210
        - _4220
        - _4290
        - _4311
        - _4312
        - _4321
        - _4322
        - _4329
        - _4330
        - _4390
        - _4511
        - _4512
        - _4520
        - _4530
        - _4541
        - _4542
        - _4610
        - _4620
        - _4631
        - _4632
        - _4641
        - _4642
        - _4643
        - _4644
        - _4645
        - _4649
        - _4651
        - _4652
        - _4653
        - _4659
        - _4661
        - _4662
        - _4663
        - _4664
        - _4665
        - _4669
        - _4690
        - _4711
        - _4719
        - _4721
        - _4722
        - _4723
        - _4724
        - _4729
        - _4731
        - _4732
        - _4741
        - _4742
        - _4751
        - _4752
        - _4753
        - _4754
        - _4755
        - _4759
        - _4761
        - _4762
        - _4769
        - _4771
        - _4772
        - _4773
        - _4774
        - _4775
        - _4781
        - _4782
        - _4789
        - _4791
        - _4792
        - _4799
        - _4911
        - _4912
        - _4921
        - _4922
        - _4923
        - _4930
        - _5011
        - _5012
        - _5021
        - _5022
        - _5111
        - _5112
        - _5121
        - _5122
        - _5210
        - _5221
        - _5222
        - _5223
        - _5224
        - _5229
        - _5310
        - _5320
        - _5511
        - _5512
        - _5513
        - _5514
        - _5519
        - _5520
        - _5530
        - _5590
        - _5611
        - _5612
        - _5613
        - _5620
        - _5621
        - _5629
        - _5630
        - _5811
        - _5812
        - _5813
        - _5819
        - _5820
        - _5911
        - _5912
        - _5913
        - _5914
        - _5920
        - _6010
        - _6020
        - _6110
        - _6120
        - _6130
        - _6190
        - _6201
        - _6202
        - _6209
        - _6311
        - _6312
        - _6391
        - _6399
        - _6411
        - _6412
        - _6421
        - _6422
        - _6423
        - _6424
        - _6431
        - _6432
        - _6491
        - _6492
        - _6493
        - _6494
        - _6495
        - _6499
        - _6511
        - _6512
        - _6513
        - _6514
        - _6521
        - _6522
        - _6531
        - _6532
        - _6611
        - _6612
        - _6613
        - _6614
        - _6615
        - _6619
        - _6621
        - _6629
        - _6630
        - _6810
        - _6820
        - _6910
        - _6920
        - _7010
        - _7020
        - _7110
        - _7120
        - _7210
        - _7220
        - _7310
        - _7320
        - _7410
        - _7420
        - _7490
        - _7500
        - _7710
        - _7721
        - _7722
        - _7729
        - _7730
        - _7740
        - _7810
        - _7820
        - _7830
        - _7911
        - _7912
        - _7990
        - _8010
        - _8020
        - _8030
        - _8110
        - _8121
        - _8129
        - _8130
        - _8211
        - _8219
        - _8220
        - _8230
        - _8291
        - _8292
        - _8299
        - _8411
        - _8412
        - _8413
        - _8414
        - _8415
        - _8421
        - _8422
        - _8423
        - _8424
        - _8430
        - _8511
        - _8512
        - _8513
        - _8521
        - _8522
        - _8523
        - _8530
        - _8541
        - _8542
        - _8543
        - _8544
        - _8551
        - _8552
        - _8553
        - _8559
        - _8560
        - _8610
        - _8621
        - _8622
        - _8691
        - _8692
        - _8699
        - _8710
        - _8720
        - _8730
        - _8790
        - _8810
        - _8890
        - _9001
        - _9002
        - _9003
        - _9004
        - _9005
        - _9006
        - _9007
        - _9009
        - _9101
        - _9102
        - _9103
        - _9200
        - _9311
        - _9312
        - _9319
        - _9321
        - _9331
        - _9411
        - _9412
        - _9420
        - _9491
        - _9492
        - _9499
        - _9511
        - _9512
        - _9521
        - _9522
        - _9523
        - _9524
        - _9529
        - _9601
        - _9602
        - _9603
        - _9609
        - _9700
        - _9810
        - _9820
        - _9900
        - _9999
        - _9329
        - _9008
        - _502
    TipoProductoEnum:
      type: string
      enum:
        - BONO MENOR 5 AÑOS COSTO AMORTIZADO
        - BONOS MENOR 5 AÑOS COST AMORT VINCULADOS
        - BONOS
        - CUENTA AHORROS CONTRACTUAL
        - CUENTA AHORRO ELECTRONICA
        - CUENTA AHORROS AFC
        - CUENTA AHORRO PROGRAMADO
        - CUENTA AHORRO TRADICIONAL
        - CUENTAS DE CHEQUES DE GERENCIA
        - CUENTA CORRIENTE NO REMUNERADA
        - CUENTA CORRIENTE REMUNERADA
        - RESIDENTE EN EXTRANJERO RTE FTE 20 PORC
        - CDTS BANCOMPARTIR
        - LINEAS DE CREDITO BANCOMPARTIR
        - CUENTA CORRIENTE CORRESPONSAL BANCARIO
        - GARANTIAS FONDOS DE GARANTIA BANCOMPARTIR
        - GARANTIAS HIPOTECARIAS BANCOMPARTIR
        - GARANTIA PRENDARIA BANCOMPARTIR
        - INTANGIBLES
        - COMERCIAL BANCOMPARTIR
        - CONSUMO BANCOMPARTIR
        - LIQUIDEZ BANCOMPARTIR
        - MICROCREDITO BANCOMPARTIR
        - REDESCUENTO BANCOMPARTIR
        - SOBREGIRO BANCOMPARTIR
        - VIVIENDA BANCOMPARTIR
        - REMANENTES POR PAGAR
        - REMANENTES POR COBRAR
        - REMANENTES CASTIGADOS
        - CREDILINEAS CONSUMO BANCOMPARTIR
        - CUPO ROTATIVO COMERCIAL
        - CUPO ROTATIVO MICROCREDITO
        - ROTATIVO UTILIZACIONES COMERCIAL
        - ROTATIVO UTILIZACIONES MICROCREDITO
      x-enum-varnames:
        - BCA1
        - BCA2
        - BONO
        - CACN
        - CAEL
        - CAFC
        - CAPR
        - CATR
        - CCCG
        - CCNR
        - CCRE
        - CDTE
        - CDTS
        - CRDL
        - CTCB
        - GRFG
        - GRHI
        - GRPR
        - INTA
        - PCOM
        - PCON
        - PLQD
        - PMIC
        - PRDS
        - PSOB
        - PVIV
        - REMA
        - REMC
        - REMK
        - ROTC
        - ROTL
        - ROTM
        - RUCM
        - RUMC
    TipoLocalEnum:
      type: string
      enum:
        - PROPIO SIN HIPOTECA
        - PROPIO CON HIPOTECA
        - FAMILIAR
        - ARRENDADO
      x-enum-varnames:
        - SH
        - CH
        - FA
        - AR
    CiudadEnum:
      type: string
      enum:
        - MEDELLIN
        - ABEJORRAL
        - ABRIAQUI
        - ALEJANDRIA
        - AMAGA
        - AMALFI
        - ANDES
        - ANGELOPOLIS
        - ANGOSTURA
        - ANORI
        - SANTAFE DE ANTIOQUIA
        - ANZA
        - APARTADO
        - ARBOLETES
        - ARGELIA
        - ARMENIA
        - BARBOSA
        - BELMIRA
        - BELLO
        - BETANIA
        - BETULIA
        - CIUDAD BOLIVAR
        - BRICEÑO
        - BURITICA
        - CACERES
        - CAICEDO
        - CALDAS
        - CAMPAMENTO
        - CAÑASGORDAS
        - CARACOLI
        - CARAMANTA
        - CAREPA
        - EL CARMEN DE VIBORAL
        - CAROLINA
        - CAUCASIA
        - CHIGORODO
        - CISNEROS
        - COCORNA
        - CONCEPCION
        - CONCORDIA
        - COPACABANA
        - DABEIBA
        - DON MATIAS
        - EBEJICO
        - EL BAGRE
        - ENTRERRIOS
        - ENVIGADO
        - FREDONIA
        - FRONTINO
        - GIRALDO
        - GIRARDOTA
        - GOMEZ PLATA
        - GRANADA
        - GUADALUPE
        - GUARNE
        - GUATAPE
        - HELICONIA
        - HISPANIA
        - ITAGUI
        - ITUANGO
        - JARDIN
        - JERICO
        - LA CEJA
        - LA ESTRELLA
        - LA PINTADA
        - LA UNION
        - LIBORINA
        - MACEO
        - MARINILLA
        - MONTEBELLO
        - MURINDO
        - MUTATA
        - NARIÑO
        - NECOCLI
        - NECHI
        - OLAYA
        - PEÐOL
        - PEQUE
        - PUEBLORRICO
        - PUERTO BERRIO
        - PUERTO NARE
        - PUERTO TRIUNFO
        - REMEDIOS
        - RETIRO
        - RIONEGRO
        - SABANALARGA
        - SABANETA
        - SALGAR
        - SAN ANDRES DE CUERQUIA
        - SAN CARLOS
        - SAN FRANCISCO
        - SAN JERONIMO
        - SAN JOSE DE LA MONTA#A
        - SAN JUAN DE URABA
        - SAN LUIS
        - SAN PEDRO
        - SAN PEDRO DE URABA
        - SAN RAFAEL
        - SAN ROQUE
        - SAN VICENTE
        - SANTA BARBARA
        - SANTA ROSA DE OSOS
        - SANTO DOMINGO
        - EL SANTUARIO
        - SEGOVIA
        - SONSON
        - SOPETRAN
        - TAMESIS
        - TARAZA
        - TARSO
        - TITIRIBI
        - TOLEDO
        - TURBO
        - URAMITA
        - URRAO
        - VALDIVIA
        - VALPARAISO
        - VEGACHI
        - VENECIA
        - VIGIA DEL FUERTE
        - YALI
        - YARUMAL
        - YOLOMBO
        - YONDO
        - ZARAGOZA
        - BARRANQUILLA
        - BARANOA
        - CAMPO DE LA CRUZ
        - CANDELARIA
        - GALAPA
        - JUAN DE ACOSTA
        - LURUACO
        - MALAMBO
        - MANATI
        - PALMAR DE VARELA
        - PIOJO
        - POLONUEVO
        - PONEDERA
        - PUERTO COLOMBIA
        - REPELON
        - SABANAGRANDE
        - SABANALARGA
        - SANTA LUCIA
        - SANTO TOMAS
        - SOLEDAD
        - SUAN
        - TUBARA
        - USIACURI
        - BOGOTA
        - CARTAGENA
        - ACHI
        - ALTOS DEL ROSARIO
        - ARENAL
        - ARJONA
        - ARROYOHONDO
        - BARRANCO DE LOBA
        - CALAMAR
        - CANTAGALLO
        - CICUCO
        - CORDOBA
        - CLEMENCIA
        - EL CARMEN DE BOLIVAR
        - EL GUAMO
        - EL PEÑON
        - HATILLO DE LOBA
        - MAGANGUE
        - MAHATES
        - MARGARITA
        - MARIA LA BAJA
        - MONTECRISTO
        - MOMPOS
        - NOROSI
        - MORALES
        - PINILLOS
        - REGIDOR
        - RIO VIEJO
        - SAN CRISTOBAL
        - SAN ESTANISLAO
        - SAN FERNANDO
        - SAN JACINTO
        - SAN JACINTO DEL CAUCA
        - SAN JUAN NEPOMUCENO
        - SAN MARTIN DE LOBA
        - SAN PABLO
        - SANTA CATALINA
        - SANTA ROSA
        - SANTA ROSA DEL SUR
        - SIMITI
        - SOPLAVIENTO
        - TALAIGUA NUEVO
        - TIQUISIO
        - TURBACO
        - TURBANA
        - VILLANUEVA
        - ZAMBRANO
        - TUNJA
        - ALMEIDA
        - AQUITANIA
        - ARCABUCO
        - BELEN
        - BERBEO
        - BETEITIVA
        - BOAVITA
        - BOYACA
        - BRICEÑO
        - BUENAVISTA
        - BUSBANZA
        - CALDAS
        - CAMPOHERMOSO
        - CERINZA
        - CHINAVITA
        - CHIQUINQUIRA
        - CHISCAS
        - CHITA
        - CHITARAQUE
        - CHIVATA
        - CIENEGA
        - COMBITA
        - COPER
        - CORRALES
        - COVARACHIA
        - CUBARA
        - CUCAITA
        - CUITIVA
        - CHIQUIZA
        - CHIVOR
        - DUITAMA
        - EL COCUY
        - EL ESPINO
        - FIRAVITOBA
        - FLORESTA
        - GACHANTIVA
        - GAMEZA
        - GARAGOA
        - GUACAMAYAS
        - GUATEQUE
        - GUAYATA
        - GsICAN
        - IZA
        - JENESANO
        - JERICO
        - LABRANZAGRANDE
        - LA CAPILLA
        - LA VICTORIA
        - LA UVITA
        - VILLA DE LEYVA
        - MACANAL
        - MARIPI
        - MIRAFLORES
        - MONGUA
        - MONGUI
        - MONIQUIRA
        - MOTAVITA
        - MUZO
        - NOBSA
        - NUEVO COLON
        - OICATA
        - OTANCHE
        - PACHAVITA
        - PAEZ
        - PAIPA
        - PAJARITO
        - PANQUEBA
        - PAUNA
        - PAYA
        - PAZ DE RIO
        - PESCA
        - PISBA
        - PUERTO BOYACA
        - QUIPAMA
        - RAMIRIQUI
        - RAQUIRA
        - RONDON
        - SABOYA
        - SACHICA
        - SAMACA
        - SAN EDUARDO
        - SAN JOSE DE PARE
        - SAN LUIS DE GACENO
        - SAN MATEO
        - SAN MIGUEL DE SEMA
        - SAN PABLO DE BORBUR
        - SANTANA
        - SANTA MARIA
        - SANTA ROSA DE VITERBO
        - SANTA SOFIA
        - SATIVANORTE
        - SATIVASUR
        - SIACHOQUE
        - SOATA
        - SOCOTA
        - SOCHA
        - SOGAMOSO
        - SOMONDOCO
        - SORA
        - SOTAQUIRA
        - SORACA
        - SUSACON
        - SUTAMARCHAN
        - SUTATENZA
        - TASCO
        - TENZA
        - TIBANA
        - TIBASOSA
        - TINJACA
        - TIPACOQUE
        - TOCA
        - TOGsI
        - TOPAGA
        - TOTA
        - TUNUNGUA
        - TURMEQUE
        - TUTA
        - TUTAZA
        - UMBITA
        - VENTAQUEMADA
        - VIRACACHA
        - ZETAQUIRA
        - MANIZALES
        - AGUADAS
        - ANSERMA
        - ARANZAZU
        - BELALCAZAR
        - CHINCHINA
        - FILADELFIA
        - LA DORADA
        - LA MERCED
        - MANZANARES
        - MARMATO
        - MARQUETALIA
        - MARULANDA
        - NEIRA
        - NORCASIA
        - PACORA
        - PALESTINA
        - PENSILVANIA
        - RIOSUCIO
        - RISARALDA
        - SALAMINA
        - SAMANA
        - SAN JOSE
        - SUPIA
        - VICTORIA
        - VILLAMARIA
        - VITERBO
        - FLORENCIA
        - ALBANIA
        - BELEN DE LOS ANDAQUIES
        - CARTAGENA DEL CHAIRA
        - CURILLO
        - EL DONCELLO
        - EL PAUJIL
        - LA MONTAÑITA
        - MILAN
        - MORELIA
        - PUERTO RICO
        - SAN JOSE DEL FRAGUA
        - SAN VICENTE DEL CAGUAN
        - SOLANO
        - SOLITA
        - VALPARAISO
        - POPAYAN
        - ALMAGUER
        - ARGELIA
        - BALBOA
        - BOLIVAR
        - BUENOS AIRES
        - CAJIBIO
        - CALDONO
        - CALOTO
        - CORINTO
        - EL TAMBO
        - FLORENCIA
        - GUACHENE
        - GUAPI
        - INZA
        - JAMBALO
        - LA SIERRA
        - LA VEGA
        - LOPEZ
        - MERCADERES
        - MIRANDA
        - MORALES
        - PADILLA
        - PAEZ
        - PATIA
        - PIAMONTE
        - PIENDAMO
        - PUERTO TEJADA
        - PURACE
        - ROSAS
        - SAN SEBASTIAN
        - SANTANDER DE QUILICHAO
        - SANTA ROSA
        - SILVIA
        - SOTARA
        - SUAREZ
        - SUCRE
        - TIMBIO
        - TIMBIQUI
        - TORIBIO
        - TOTORO
        - VILLA RICA
        - VALLEDUPAR
        - AGUACHICA
        - AGUSTIN CODAZZI
        - ASTREA
        - BECERRIL
        - BOSCONIA
        - CHIMICHAGUA
        - CHIRIGUANA
        - CURUMANI
        - EL COPEY
        - EL PASO
        - GAMARRA
        - GONZALEZ
        - LA GLORIA
        - LA JAGUA DE IBIRICO
        - MANAURE
        - PAILITAS
        - PELAYA
        - PUEBLO BELLO
        - RIO DE ORO
        - LA PAZ
        - SAN ALBERTO
        - SAN DIEGO
        - SAN MARTIN
        - TAMALAMEQUE
        - MONTERIA
        - AYAPEL
        - BUENAVISTA
        - CANALETE
        - CERETE
        - CHIMA
        - CHINU
        - CIENAGA DE ORO
        - COTORRA
        - LA APARTADA
        - LORICA
        - LOS CORDOBAS
        - MOMIL
        - MONTELIBANO
        - MOÑITOS
        - PLANETA RICA
        - PUEBLO NUEVO
        - PUERTO ESCONDIDO
        - PUERTO LIBERTADOR
        - PURISIMA
        - SAHAGUN
        - SAN ANDRES SOTAVENTO
        - SAN ANTERO
        - SAN BERNARDO DEL VIENTO
        - SAN CARLOS
        - SAN PELAYO
        - TIERRALTA
        - VALENCIA
        - AGUA DE DIOS
        - ALBAN
        - ANAPOIMA
        - ANOLAIMA
        - ARBELAEZ
        - BELTRAN
        - BITUIMA
        - BOJACA
        - CABRERA
        - CACHIPAY
        - CAJICA
        - CAPARRAPI
        - CAQUEZA
        - CARMEN DE CARUPA
        - CHAGUANI
        - CHIA
        - CHIPAQUE
        - CHOACHI
        - CHOCONTA
        - COGUA
        - COTA
        - CUCUNUBA
        - EL COLEGIO
        - EL PEÑON
        - EL ROSAL
        - FACATATIVA
        - FOMEQUE
        - FOSCA
        - FUNZA
        - FUQUENE
        - FUSAGASUGA
        - GACHALA
        - GACHANCIPA
        - GACHETA
        - GAMA
        - GIRARDOT
        - GRANADA
        - GUACHETA
        - GUADUAS
        - GUASCA
        - GUATAQUI
        - GUATAVITA
        - GUAYABAL DE SIQUIMA
        - GUAYABETAL
        - GUTIERREZ
        - JERUSALEN
        - JUNIN
        - LA CALERA
        - LA MESA
        - LA PALMA
        - LA PEÑA
        - LA VEGA
        - LENGUAZAQUE
        - MACHETA
        - MADRID
        - MANTA
        - MEDINA
        - MOSQUERA
        - NARIÑO
        - NEMOCON
        - NILO
        - NIMAIMA
        - NOCAIMA
        - VENECIA
        - PACHO
        - PAIME
        - PANDI
        - PARATEBUENO
        - PASCA
        - PUERTO SALGAR
        - PULI
        - QUEBRADANEGRA
        - QUETAME
        - QUIPILE
        - APULO
        - RICAURTE
        - SAN ANTONIO DEL TEQUENDAMA
        - SAN BERNARDO
        - SAN CAYETANO
        - SAN FRANCISCO
        - SAN JUAN DE RIO SECO
        - SASAIMA
        - SESQUILE
        - SIBATE
        - SILVANIA
        - SIMIJACA
        - SOACHA
        - SOPO
        - SUBACHOQUE
        - SUESCA
        - SUPATA
        - SUSA
        - SUTATAUSA
        - TABIO
        - TAUSA
        - TENA
        - TENJO
        - TIBACUY
        - TIBIRITA
        - TOCAIMA
        - TOCANCIPA
        - TOPAIPI
        - UBALA
        - UBAQUE
        - VILLA DE SAN DIEGO DE UBATE
        - UNE
        - UTICA
        - VERGARA
        - VIANI
        - VILLAGOMEZ
        - VILLAPINZON
        - VILLETA
        - VIOTA
        - YACOPI
        - ZIPACON
        - ZIPAQUIRA
        - QUIBDO
        - ACANDI
        - ALTO BAUDO
        - ATRATO
        - BAGADO
        - BAHIA SOLANO
        - BAJO BAUDO
        - BOJAYA
        - EL CANTON DEL SAN PABLO
        - CARMEN DEL DARIEN
        - CERTEGUI
        - CONDOTO
        - EL CARMEN DE ATRATO
        - EL LITORAL DEL SAN JUAN
        - ISTMINA
        - JURADO
        - LLORO
        - MEDIO ATRATO
        - MEDIO BAUDO
        - MEDIO SAN JUAN
        - NOVITA
        - NUQUI
        - RIO IRO
        - RIO QUITO
        - RIOSUCIO
        - SAN JOSE DEL PALMAR
        - SIPI
        - TADO
        - UNGUIA
        - UNION PANAMERICANA
        - NEIVA
        - ACEVEDO
        - AGRADO
        - AIPE
        - ALGECIRAS
        - ALTAMIRA
        - BARAYA
        - CAMPOALEGRE
        - COLOMBIA
        - ELIAS
        - GARZON
        - GIGANTE
        - GUADALUPE
        - HOBO
        - IQUIRA
        - ISNOS
        - LA ARGENTINA
        - LA PLATA
        - NATAGA
        - OPORAPA
        - PAICOL
        - PALERMO
        - PALESTINA
        - PITAL
        - PITALITO
        - RIVERA
        - SALADOBLANCO
        - SAN AGUSTIN
        - SANTA MARIA
        - SUAZA
        - TARQUI
        - TESALIA
        - TELLO
        - TERUEL
        - TIMANA
        - VILLAVIEJA
        - YAGUARA
        - RIOHACHA
        - ALBANIA
        - BARRANCAS
        - DIBULLA
        - DISTRACCION
        - EL MOLINO
        - FONSECA
        - HATONUEVO
        - LA JAGUA DEL PILAR
        - MAICAO
        - MANAURE
        - SAN JUAN DEL CESAR
        - URIBIA
        - URUMITA
        - VILLANUEVA
        - SANTA MARTA
        - ALGARROBO
        - ARACATACA
        - ARIGUANI
        - CERRO SAN ANTONIO
        - CHIBOLO
        - CIENAGA
        - CONCORDIA
        - EL BANCO
        - EL PIÑON
        - EL RETEN
        - FUNDACION
        - GUAMAL
        - NUEVA GRANADA
        - PEDRAZA
        - PIJIÑO DEL CARMEN
        - PIVIJAY
        - PLATO
        - PUEBLOVIEJO
        - REMOLINO
        - SABANAS DE SAN ANGEL
        - SALAMINA
        - SAN SEBASTIAN DE BUENAVISTA
        - SAN ZENON
        - SANTA ANA
        - SANTA BARBARA DE PINTO
        - SITIONUEVO
        - TENERIFE
        - ZAPAYAN
        - ZONA BANANERA
        - VILLAVICENCIO
        - ACACIAS
        - BARRANCA DE UPIA
        - CABUYARO
        - CASTILLA LA NUEVA
        - CUBARRAL
        - CUMARAL
        - EL CALVARIO
        - EL CASTILLO
        - EL DORADO
        - FUENTE DE ORO
        - GRANADA
        - GUAMAL
        - MAPIRIPAN
        - MESETAS
        - LA MACARENA
        - URIBE
        - LEJANIAS
        - PUERTO CONCORDIA
        - PUERTO GAITAN
        - PUERTO LOPEZ
        - PUERTO LLERAS
        - PUERTO RICO
        - RESTREPO
        - SAN CARLOS DE GUAROA
        - SAN JUAN DE ARAMA
        - SAN JUANITO
        - SAN MARTIN
        - VISTAHERMOSA
        - PASTO
        - ALBAN
        - ALDANA
        - ANCUYA
        - ARBOLEDA
        - BARBACOAS
        - BELEN
        - BUESACO
        - COLON
        - CONSACA
        - CONTADERO
        - CORDOBA
        - CUASPUD
        - CUMBAL
        - CUMBITARA
        - CHACHAGsI
        - EL CHARCO
        - EL PEÑOL
        - EL ROSARIO
        - EL TABLON DE GOMEZ
        - EL TAMBO
        - FUNES
        - GUACHUCAL
        - GUAITARILLA
        - GUALMATAN
        - ILES
        - IMUES
        - IPIALES
        - LA CRUZ
        - LA FLORIDA
        - LA LLANADA
        - LA TOLA
        - LA UNION
        - LEIVA
        - LINARES
        - LOS ANDES
        - MAGSI
        - MALLAMA
        - MOSQUERA
        - NARIÑO
        - OLAYA HERRERA
        - OSPINA
        - FRANCISCO PIZARRO
        - POLICARPA
        - POTOSI
        - PROVIDENCIA
        - PUERRES
        - PUPIALES
        - RICAURTE
        - ROBERTO PAYAN
        - SAMANIEGO
        - SANDONA
        - SAN BERNARDO
        - SAN LORENZO
        - SAN PABLO
        - SAN PEDRO DE CARTAGO
        - SANTA BARBARA
        - SANTACRUZ
        - SAPUYES
        - TAMINANGO
        - TANGUA
        - SAN ANDRES DE TUMACO
        - TUQUERRES
        - YACUANQUER
        - CUCUTA
        - ABREGO
        - ARBOLEDAS
        - BOCHALEMA
        - BUCARASICA
        - CACOTA
        - CACHIRA
        - CHINACOTA
        - CHITAGA
        - CONVENCION
        - CUCUTILLA
        - DURANIA
        - EL CARMEN
        - EL TARRA
        - EL ZULIA
        - GRAMALOTE
        - HACARI
        - HERRAN
        - LABATECA
        - LA ESPERANZA
        - LA PLAYA
        - LOS PATIOS
        - LOURDES
        - MUTISCUA
        - OCAÑA
        - PAMPLONA
        - PAMPLONITA
        - PUERTO SANTANDER
        - RAGONVALIA
        - SALAZAR
        - SAN CALIXTO
        - SAN CAYETANO
        - SANTIAGO
        - SARDINATA
        - SILOS
        - TEORAMA
        - TIBU
        - TOLEDO
        - VILLA CARO
        - VILLA DEL ROSARIO
        - ARMENIA
        - BUENAVISTA
        - CALARCA
        - CIRCASIA
        - CORDOBA
        - FILANDIA
        - GENOVA
        - LA TEBAIDA
        - MONTENEGRO
        - PIJAO
        - QUIMBAYA
        - SALENTO
        - PEREIRA
        - APIA
        - BALBOA
        - BELEN DE UMBRIA
        - DOSQUEBRADAS
        - GUATICA
        - LA CELIA
        - LA VIRGINIA
        - MARSELLA
        - MISTRATO
        - PUEBLO RICO
        - QUINCHIA
        - SANTA ROSA DE CABAL
        - SANTUARIO
        - BUCARAMANGA
        - AGUADA
        - ALBANIA
        - ARATOCA
        - BARBOSA
        - BARICHARA
        - BARRANCABERMEJA
        - BETULIA
        - BOLIVAR
        - CABRERA
        - CALIFORNIA
        - CAPITANEJO
        - CARCASI
        - CEPITA
        - CERRITO
        - CHARALA
        - CHARTA
        - CHIMA
        - CHIPATA
        - CIMITARRA
        - CONCEPCION
        - CONFINES
        - CONTRATACION
        - COROMORO
        - CURITI
        - EL CARMEN DE CHUCURI
        - EL GUACAMAYO
        - EL PEÑON
        - EL PLAYON
        - ENCINO
        - ENCISO
        - FLORIAN
        - FLORIDABLANCA
        - GALAN
        - GAMBITA
        - GIRON
        - GUACA
        - GUADALUPE
        - GUAPOTA
        - GUAVATA
        - GsEPSA
        - HATO
        - JESUS MARIA
        - JORDAN
        - LA BELLEZA
        - LANDAZURI
        - LA PAZ
        - LEBRIJA
        - LOS SANTOS
        - MACARAVITA
        - MALAGA
        - MATANZA
        - MOGOTES
        - MOLAGAVITA
        - OCAMONTE
        - OIBA
        - ONZAGA
        - PALMAR
        - PALMAS DEL SOCORRO
        - PARAMO
        - PIEDECUESTA
        - PINCHOTE
        - PUENTE NACIONAL
        - PUERTO PARRA
        - PUERTO WILCHES
        - RIONEGRO
        - SABANA DE TORRES
        - SAN ANDRES
        - SAN BENITO
        - SAN GIL
        - SAN JOAQUIN
        - SAN JOSE DE MIRANDA
        - SAN MIGUEL
        - SAN VICENTE DE CHUCURI
        - SANTA BARBARA
        - SANTA HELENA DEL OPON
        - SIMACOTA
        - SOCORRO
        - SUAITA
        - SUCRE
        - SURATA
        - TONA
        - VALLE DE SAN JOSE
        - VELEZ
        - VETAS
        - VILLANUEVA
        - ZAPATOCA
        - SINCELEJO
        - BUENAVISTA
        - CAIMITO
        - COLOSO
        - COROZAL
        - COVEÑAS
        - CHALAN
        - EL ROBLE
        - GALERAS
        - GUARANDA
        - LA UNION
        - LOS PALMITOS
        - MAJAGUAL
        - MORROA
        - OVEJAS
        - PALMITO
        - SAMPUES
        - SAN BENITO ABAD
        - SAN JUAN DE BETULIA
        - SAN MARCOS
        - SAN ONOFRE
        - SAN PEDRO
        - SAN LUIS DE SINCE
        - SUCRE
        - SANTIAGO DE TOLU
        - TOLU VIEJO
        - IBAGUE
        - ALPUJARRA
        - ALVARADO
        - AMBALEMA
        - ANZOATEGUI
        - ARMERO
        - ATACO
        - CAJAMARCA
        - CARMEN DE APICALA
        - CASABIANCA
        - CHAPARRAL
        - COELLO
        - COYAIMA
        - CUNDAY
        - DOLORES
        - ESPINAL
        - FALAN
        - FLANDES
        - FRESNO
        - GUAMO
        - HERVEO
        - HONDA
        - ICONONZO
        - LERIDA
        - LIBANO
        - MARIQUITA
        - MELGAR
        - MURILLO
        - NATAGAIMA
        - ORTEGA
        - PALOCABILDO
        - PIEDRAS
        - PLANADAS
        - PRADO
        - PURIFICACION
        - RIOBLANCO
        - RONCESVALLES
        - ROVIRA
        - SALDAÑA
        - SAN ANTONIO
        - SAN LUIS
        - SANTA ISABEL
        - SUAREZ
        - VALLE DE SAN JUAN
        - VENADILLO
        - VILLAHERMOSA
        - VILLARRICA
        - CALI
        - ALCALA
        - ANDALUCIA
        - ANSERMANUEVO
        - ARGELIA
        - BOLIVAR
        - BUENAVENTURA
        - GUADALAJARA DE BUGA
        - BUGALAGRANDE
        - CAICEDONIA
        - CALIMA
        - CANDELARIA
        - CARTAGO
        - DAGUA
        - EL AGUILA
        - EL CAIRO
        - EL CERRITO
        - EL DOVIO
        - FLORIDA
        - GINEBRA
        - GUACARI
        - JAMUNDI
        - LA CUMBRE
        - LA UNION
        - LA VICTORIA
        - OBANDO
        - PALMIRA
        - PRADERA
        - RESTREPO
        - RIOFRIO
        - ROLDANILLO
        - SAN PEDRO
        - SEVILLA
        - TORO
        - TRUJILLO
        - TULUA
        - ULLOA
        - VERSALLES
        - VIJES
        - YOTOCO
        - YUMBO
        - ZARZAL
        - ARAUCA
        - ARAUQUITA
        - CRAVO NORTE
        - FORTUL
        - PUERTO RONDON
        - SARAVENA
        - TAME
        - YOPAL
        - AGUAZUL
        - CHAMEZA
        - HATO COROZAL
        - LA SALINA
        - MANI
        - MONTERREY
        - NUNCHIA
        - OROCUE
        - PAZ DE ARIPORO
        - PORE
        - RECETOR
        - SABANALARGA
        - SACAMA
        - SAN LUIS DE PALENQUE
        - TAMARA
        - TAURAMENA
        - TRINIDAD
        - VILLANUEVA
        - MOCOA
        - COLON
        - ORITO
        - PUERTO ASIS
        - PUERTO CAICEDO
        - PUERTO GUZMAN
        - LEGUIZAMO
        - SIBUNDOY
        - SAN FRANCISCO
        - SAN MIGUEL
        - SANTIAGO
        - VALLE DEL GUAMUEZ
        - VILLAGARZON
        - SAN ANDRES
        - PROVIDENCIA
        - LETICIA
        - EL ENCANTO
        - LA CHORRERA
        - LA PEDRERA
        - LA VICTORIA
        - MIRITI - PARANA
        - PUERTO ALEGRIA
        - PUERTO ARICA
        - PUERTO NARIÑO
        - PUERTO SANTANDER
        - TARAPACA
        - INIRIDA
        - BARRANCO MINAS
        - MAPIRIPANA
        - SAN FELIPE
        - PUERTO COLOMBIA
        - LA GUADALUPE
        - CACAHUAL
        - PANA PANA
        - MORICHAL
        - SAN JOSE DEL GUAVIARE
        - CALAMAR
        - EL RETORNO
        - MIRAFLORES
        - MITU
        - CARURU
        - PACOA
        - TARAIRA
        - PAPUNAUA
        - YAVARATE
        - PUERTO CARREÑO
        - LA PRIMAVERA
        - SANTA ROSALIA
        - CUMARIBO
      x-enum-varnames:
        - _5001
        - _5002
        - _5004
        - _5021
        - _5030
        - _5031
        - _5034
        - _5036
        - _5038
        - _5040
        - _5042
        - _5044
        - _5045
        - _5051
        - _5055
        - _5059
        - _5079
        - _5086
        - _5088
        - _5091
        - _5093
        - _5101
        - _5107
        - _5113
        - _5120
        - _5125
        - _5129
        - _5134
        - _5138
        - _5142
        - _5145
        - _5147
        - _5148
        - _5150
        - _5154
        - _5172
        - _5190
        - _5197
        - _5206
        - _5209
        - _5212
        - _5234
        - _5237
        - _5240
        - _5250
        - _5264
        - _5266
        - _5282
        - _5284
        - _5306
        - _5308
        - _5310
        - _5313
        - _5315
        - _5318
        - _5321
        - _5347
        - _5353
        - _5360
        - _5361
        - _5364
        - _5368
        - _5376
        - _5380
        - _5390
        - _5400
        - _5411
        - _5425
        - _5440
        - _5467
        - _5475
        - _5480
        - _5483
        - _5490
        - _5495
        - _5501
        - _5541
        - _5543
        - _5576
        - _5579
        - _5585
        - _5591
        - _5604
        - _5607
        - _5615
        - _5628
        - _5631
        - _5642
        - _5647
        - _5649
        - _5652
        - _5656
        - _5658
        - _5659
        - _5660
        - _5664
        - _5665
        - _5667
        - _5670
        - _5674
        - _5679
        - _5686
        - _5690
        - _5697
        - _5736
        - _5756
        - _5761
        - _5789
        - _5790
        - _5792
        - _5809
        - _5819
        - _5837
        - _5842
        - _5847
        - _5854
        - _5856
        - _5858
        - _5861
        - _5873
        - _5885
        - _5887
        - _5890
        - _5893
        - _5895
        - _8001
        - _8078
        - _8137
        - _8141
        - _8296
        - _8372
        - _8421
        - _8433
        - _8436
        - _8520
        - _8549
        - _8558
        - _8560
        - _8573
        - _8606
        - _8634
        - _8638
        - _8675
        - _8685
        - _8758
        - _8770
        - _8832
        - _8849
        - _11001
        - _13001
        - _13006
        - _13030
        - _13042
        - _13052
        - _13062
        - _13074
        - _13140
        - _13160
        - _13188
        - _13212
        - _13222
        - _13244
        - _13248
        - _13268
        - _13300
        - _13430
        - _13433
        - _13440
        - _13442
        - _13458
        - _13468
        - _13490
        - _13473
        - _13549
        - _13580
        - _13600
        - _13620
        - _13647
        - _13650
        - _13654
        - _13655
        - _13657
        - _13667
        - _13670
        - _13673
        - _13683
        - _13688
        - _13744
        - _13760
        - _13780
        - _13810
        - _13836
        - _13838
        - _13873
        - _13894
        - _15001
        - _15022
        - _15047
        - _15051
        - _15087
        - _15090
        - _15092
        - _15097
        - _15104
        - _15106
        - _15109
        - _15114
        - _15131
        - _15135
        - _15162
        - _15172
        - _15176
        - _15180
        - _15183
        - _15185
        - _15187
        - _15189
        - _15204
        - _15212
        - _15215
        - _15218
        - _15223
        - _15224
        - _15226
        - _15232
        - _15236
        - _15238
        - _15244
        - _15248
        - _15272
        - _15276
        - _15293
        - _15296
        - _15299
        - _15317
        - _15322
        - _15325
        - _15332
        - _15362
        - _15367
        - _15368
        - _15377
        - _15380
        - _15401
        - _15403
        - _15407
        - _15425
        - _15442
        - _15455
        - _15464
        - _15466
        - _15469
        - _15476
        - _15480
        - _15491
        - _15494
        - _15500
        - _15507
        - _15511
        - _15514
        - _15516
        - _15518
        - _15522
        - _15531
        - _15533
        - _15537
        - _15542
        - _15550
        - _15572
        - _15580
        - _15599
        - _15600
        - _15621
        - _15632
        - _15638
        - _15646
        - _15660
        - _15664
        - _15667
        - _15673
        - _15676
        - _15681
        - _15686
        - _15690
        - _15693
        - _15696
        - _15720
        - _15723
        - _15740
        - _15753
        - _15755
        - _15757
        - _15759
        - _15761
        - _15762
        - _15763
        - _15764
        - _15774
        - _15776
        - _15778
        - _15790
        - _15798
        - _15804
        - _15806
        - _15808
        - _15810
        - _15814
        - _15816
        - _15820
        - _15822
        - _15832
        - _15835
        - _15837
        - _15839
        - _15842
        - _15861
        - _15879
        - _15897
        - _17001
        - _17013
        - _17042
        - _17050
        - _17088
        - _17174
        - _17272
        - _17380
        - _17388
        - _17433
        - _17442
        - _17444
        - _17446
        - _17486
        - _17495
        - _17513
        - _17524
        - _17541
        - _17614
        - _17616
        - _17653
        - _17662
        - _17665
        - _17777
        - _17867
        - _17873
        - _17877
        - _18001
        - _18029
        - _18094
        - _18150
        - _18205
        - _18247
        - _18256
        - _18410
        - _18460
        - _18479
        - _18592
        - _18610
        - _18753
        - _18756
        - _18785
        - _18860
        - _19001
        - _19022
        - _19050
        - _19075
        - _19100
        - _19110
        - _19130
        - _19137
        - _19142
        - _19212
        - _19256
        - _19290
        - _19300
        - _19318
        - _19355
        - _19364
        - _19392
        - _19397
        - _19418
        - _19450
        - _19455
        - _19473
        - _19513
        - _19517
        - _19532
        - _19533
        - _19548
        - _19573
        - _19585
        - _19622
        - _19693
        - _19698
        - _19701
        - _19743
        - _19760
        - _19780
        - _19785
        - _19807
        - _19809
        - _19821
        - _19824
        - _19845
        - _20001
        - _20011
        - _20013
        - _20032
        - _20045
        - _20060
        - _20175
        - _20178
        - _20228
        - _20238
        - _20250
        - _20295
        - _20310
        - _20383
        - _20400
        - _20443
        - _20517
        - _20550
        - _20570
        - _20614
        - _20621
        - _20710
        - _20750
        - _20770
        - _20787
        - _23001
        - _23068
        - _23079
        - _23090
        - _23162
        - _23168
        - _23182
        - _23189
        - _23300
        - _23350
        - _23417
        - _23419
        - _23464
        - _23466
        - _23500
        - _23555
        - _23570
        - _23574
        - _23580
        - _23586
        - _23660
        - _23670
        - _23672
        - _23675
        - _23678
        - _23686
        - _23807
        - _23855
        - _25001
        - _25019
        - _25035
        - _25040
        - _25053
        - _25086
        - _25095
        - _25099
        - _25120
        - _25123
        - _25126
        - _25148
        - _25151
        - _25154
        - _25168
        - _25175
        - _25178
        - _25181
        - _25183
        - _25200
        - _25214
        - _25224
        - _25245
        - _25258
        - _25260
        - _25269
        - _25279
        - _25281
        - _25286
        - _25288
        - _25290
        - _25293
        - _25295
        - _25297
        - _25299
        - _25307
        - _25312
        - _25317
        - _25320
        - _25322
        - _25324
        - _25326
        - _25328
        - _25335
        - _25339
        - _25368
        - _25372
        - _25377
        - _25386
        - _25394
        - _25398
        - _25402
        - _25407
        - _25426
        - _25430
        - _25436
        - _25438
        - _25473
        - _25483
        - _25486
        - _25488
        - _25489
        - _25491
        - _25506
        - _25513
        - _25518
        - _25524
        - _25530
        - _25535
        - _25572
        - _25580
        - _25592
        - _25594
        - _25596
        - _25599
        - _25612
        - _25645
        - _25649
        - _25653
        - _25658
        - _25662
        - _25718
        - _25736
        - _25740
        - _25743
        - _25745
        - _25754
        - _25758
        - _25769
        - _25772
        - _25777
        - _25779
        - _25781
        - _25785
        - _25793
        - _25797
        - _25799
        - _25805
        - _25807
        - _25815
        - _25817
        - _25823
        - _25839
        - _25841
        - _25843
        - _25845
        - _25851
        - _25862
        - _25867
        - _25871
        - _25873
        - _25875
        - _25878
        - _25885
        - _25898
        - _25899
        - _27001
        - _27006
        - _27025
        - _27050
        - _27073
        - _27075
        - _27077
        - _27099
        - _27135
        - _27150
        - _27160
        - _27205
        - _27245
        - _27250
        - _27361
        - _27372
        - _27413
        - _27425
        - _27430
        - _27450
        - _27491
        - _27495
        - _27580
        - _27600
        - _27615
        - _27660
        - _27745
        - _27787
        - _27800
        - _27810
        - _41001
        - _41006
        - _41013
        - _41016
        - _41020
        - _41026
        - _41078
        - _41132
        - _41206
        - _41244
        - _41298
        - _41306
        - _41319
        - _41349
        - _41357
        - _41359
        - _41378
        - _41396
        - _41483
        - _41503
        - _41518
        - _41524
        - _41530
        - _41548
        - _41551
        - _41615
        - _41660
        - _41668
        - _41676
        - _41770
        - _41791
        - _41797
        - _41799
        - _41801
        - _41807
        - _41872
        - _41885
        - _44001
        - _44035
        - _44078
        - _44090
        - _44098
        - _44110
        - _44279
        - _44378
        - _44420
        - _44430
        - _44560
        - _44650
        - _44847
        - _44855
        - _44874
        - _47001
        - _47030
        - _47053
        - _47058
        - _47161
        - _47170
        - _47189
        - _47205
        - _47245
        - _47258
        - _47268
        - _47288
        - _47318
        - _47460
        - _47541
        - _47545
        - _47551
        - _47555
        - _47570
        - _47605
        - _47660
        - _47675
        - _47692
        - _47703
        - _47707
        - _47720
        - _47745
        - _47798
        - _47960
        - _47980
        - _50001
        - _50006
        - _50110
        - _50124
        - _50150
        - _50223
        - _50226
        - _50245
        - _50251
        - _50270
        - _50287
        - _50313
        - _50318
        - _50325
        - _50330
        - _50350
        - _50370
        - _50400
        - _50450
        - _50568
        - _50573
        - _50577
        - _50590
        - _50606
        - _50680
        - _50683
        - _50686
        - _50689
        - _50711
        - _52001
        - _52019
        - _52022
        - _52036
        - _52051
        - _52079
        - _52083
        - _52110
        - _52203
        - _52207
        - _52210
        - _52215
        - _52224
        - _52227
        - _52233
        - _52240
        - _52250
        - _52254
        - _52256
        - _52258
        - _52260
        - _52287
        - _52317
        - _52320
        - _52323
        - _52352
        - _52354
        - _52356
        - _52378
        - _52381
        - _52385
        - _52390
        - _52399
        - _52405
        - _52411
        - _52418
        - _52427
        - _52435
        - _52473
        - _52480
        - _52490
        - _52506
        - _52520
        - _52540
        - _52560
        - _52565
        - _52573
        - _52585
        - _52612
        - _52621
        - _52678
        - _52683
        - _52685
        - _52687
        - _52693
        - _52694
        - _52696
        - _52699
        - _52720
        - _52786
        - _52788
        - _52835
        - _52838
        - _52885
        - _54001
        - _54003
        - _54051
        - _54099
        - _54109
        - _54125
        - _54128
        - _54172
        - _54174
        - _54206
        - _54223
        - _54239
        - _54245
        - _54250
        - _54261
        - _54313
        - _54344
        - _54347
        - _54377
        - _54385
        - _54398
        - _54405
        - _54418
        - _54480
        - _54498
        - _54518
        - _54520
        - _54553
        - _54599
        - _54660
        - _54670
        - _54673
        - _54680
        - _54720
        - _54743
        - _54800
        - _54810
        - _54820
[...]
